!pip install --upgrade spaCy

Aula 3 - Commands Python

review basics

In [30]:
y = "Daniel Terra"
#y
y = 21
x = 21.2
y > x
print(y)
type(y)

21

int

In [18]:
v1 = 2
v2 = 4
v1 + v2

v1 = "2"
v2 = "4"
v1 + v2

'24'

In [21]:
for i in range(5):
  print(i)

#for i in range(5):

0
1
2
3
4

In [29]:
par = 1
impar = 2
num = 2

if num % 2 == 0:
  par = par + 1
  print ("par")
else:
    impar = impar + 1
    print ("impar")

par

Listas e Tuplas

listas: mutaveis e delimitadas por colchetes

tuplas: imutaveis  e delimitadas por parenteses

In [33]:
lista = []
lista = list(range(5))
lista = [0,1,2,3,4,5]
print(type(lista))
print(lista)

<class 'list'>
[0, 1, 2, 3, 4, 5]

In [43]:
lista.append(1000)
print(lista)

[0, 9, 2, 3, 4, 5, 5, 5, 5, 5, 1000]

In [44]:
lista[1]
lista[1] = 9
lista[1]
print(lista)

[0, 9, 2, 3, 4, 5, 5, 5, 5, 5, 1000]

In [49]:
lista.insert(6,21)
print(lista)

[6, 0, 9, 2, 3, 4, 21, 21, 21, 21, 5, 5, 5, 5, 5, 1000]

In [51]:
lista.reverse()
print(lista)

[1000, 5, 5, 5, 5, 5, 21, 21, 21, 21, 4, 3, 2, 9, 0, 6]

In [56]:
lista.sort()
print(lista)

[0, 2, 3, 4, 5, 5, 5, 5, 5, 6, 9, 21, 21, 21, 21, 1000]

In [59]:
lista.count(21)

4

In [66]:
lista.count(21)

4

In [62]:
lista.index(1000)

15

In [69]:
lista2 = list(range(10))
print(lista2)
print(lista2[2:7])
print(lista2[2:7:2])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[2, 3, 4, 5, 6]
[2, 4, 6]

In [71]:
#print(lista2[2:7:2])
lista3 = ["held", "unheld", "held", "rwsd"]
lista3.sort()
print(lista3)

['held', 'held', 'rwsd', 'unheld']

tuplas heterogeneros, ou seja, tipos difentes dentro da tupla

In [77]:
lista4 = ["2", 1, [23]]

In [76]:
t = (1, "DeprecationWarning", 2, "ajuda", 32)
print(t)

(1, 'DeprecationWarning', 2, 'ajuda', 32)

In [78]:
t[0] = 2

TypeError: 'tuple' object does not support item assignment

dicionarios

In [84]:
list2 = [['aaoo',999],['aaa', 20], ['ajuda', 10], ['']]

list2[0][1]

999

In [88]:
dic = {}
dic['daniel'] = 10
dic['terra'] = 8
dic['luna'] = 10
print (dic)

{'daniel': 10, 'terra': 8, 'luna': 10}

In [87]:
print(dic.keys() )

dict_keys(['daniel', 'terra', 'luna'])

In [89]:
print(dic.values())

dict_values([10, 8, 10])

In [90]:
type(dic.keys())

dict_keys

In [94]:
dic.keys()[2]

TypeError: 'dict_keys' object does not support indexing

In [91]:
list(dic.keys())

['daniel', 'terra', 'luna']

In [92]:
list(dic.keys())[2]

'luna'

In [95]:
list(dic.items())

[('daniel', 10), ('terra', 8), ('luna', 10)]

In [96]:
for chave, valor in dic.items():
  print(chave, 'new number', valor)

daniel new number 10
terra new number 8
luna new number 10

In [98]:
dic['daniel'] = [7, 4]
print(dic)

{'daniel': [7, 4], 'terra': 8, 'luna': 10}

arquivos------------------------

In [107]:
path = 'qbdata.txt'
#file_extension = open(path, 'r')

In [132]:
infile = open(path, 'r')
#outfile = open('result_qbdata.txt', 'w')

a = append, ou seja, escrita no final do arquivio

fecgar arquivo com close()

In [121]:
print(infile.read())

Colt McCoy QB, CLE  135 222 1576    6   9   60.8%   74.5
Josh Freeman QB, TB 291 474 3451    25  6   61.4%   95.9
Michael Vick QB, PHI    233 372 3018    21  6   62.6%   100.2
Matt Schaub QB, HOU 365 574 4370    24  12  63.6%   92.0
Philip Rivers QB, SD    357 541 4710    30  13  66.0%   101.8
Matt Hasselbeck QB, SEA 266 444 3001    12  17  59.9%   73.2
Jimmy Clausen QB, CAR   157 299 1558    3   9   52.5%   58.4
Joe Flacco QB, BAL  306 489 3622    25  10  62.6%   93.6
Kyle Orton QB, DEN  293 498 3653    20  9   58.8%   87.5
Jason Campbell QB, OAK  194 329 2387    13  8   59.0%   84.5
Peyton Manning QB, IND  450 679 4700    33  17  66.3%   91.9
Drew Brees QB, NO   448 658 4620    33  22  68.1%   90.9
Matt Ryan QB, ATL   357 571 3705    28  9   62.5%   91.0
Matt Cassel QB, KC  262 450 3116    27  7   58.2%   93.0
Mark Sanchez QB, NYJ    278 507 3291    17  13  54.8%   75.3
Brett Favre QB, MIN 217 358 2509    11  19  60.6%   69.9
David Garrard QB, JAC   236 366 2734    23  15  64.5%   90.8
Eli Manning QB, NYG 339 539 4002    31  25  62.9%   85.3
Carson Palmer QB, CIN   362 586 3970    26  20  61.8%   82.4
Alex Smith QB, SF   204 342 2370    14  10  59.6%   82.1
Chad Henne QB, MIA  301 490 3301    15  19  61.4%   75.4
Tony Romo QB, DAL   148 213 1605    11  7   69.5%   94.9
Jay Cutler QB, CHI  261 432 3274    23  16  60.4%   86.3
Jon Kitna QB, DAL   209 318 2365    16  12  65.7%   88.9
Tom Brady QB, NE    324 492 3900    36  4   65.9%   111.0
Ben Roethlisberger QB, PIT  240 389 3200    17  5   61.7%   97.0
Kerry Collins QB, TEN   160 278 1823    14  8   57.6%   82.2
Derek Anderson QB, ARI  169 327 2065    7   10  51.7%   65.9
Ryan Fitzpatrick QB, BUF    255 441 3000    23  15  57.8%   81.8
Donovan McNabb QB, WAS  275 472 3377    14  15  58.3%   77.1
Kevin Kolb QB, PHI  115 189 1197    7   7   60.8%   76.1
Aaron Rodgers QB, GB    312 475 3922    28  11  65.7%   101.2
Sam Bradford QB, STL    354 590 3512    18  15  60.0%   76.5
Shaun Hill QB, DET  257 416 2686    16  12  61.8%   81.3

In [122]:
read_file = infile.read()
print(read_file)

In [173]:
infile = open('result_qbdata.txt', 'r')
outfile = open('result_qbdata.txt', 'w')
numero = 10
outfile.write(str(10))
print(infile.read())

10

In [174]:
addfile = open('result_qbdata.txt', 'a')
addfile.write(' 3333final aula22442')

print(infile.read())

 3333final aula22442

In [175]:
#print(infile.read())

outfile.close()