#PYTHON PARA PLNLISTA DE EXERCÍCIOS 1

1.Crie  três  variáveis e  atribua  os  valores  a  seguir: a=1, b=5.9e c=‘teste’.  A partir disso, retorne o tipo de cada uma das variáveis.

In [1]:
a = 1
b = 5.9
c = 'teste'

print(type(a))
print(type(b))
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

2.Troque o valor da variável apor ‘1’e verifique se o tipo da variável mudou.

In [2]:
a = 2
print(type(a))

<class 'int'>

3.Faça a soma da variável bcom a variável c. Interprete a saída, tanto em caso de execução correta quanto em caso de execução com erro.

In [3]:
sum = str(b) + (c)
print(sum)

5.9teste

Crie uma listacom números de 0 a 9 (em qualquer ordem). Com ela, faça:

  a.Adicione o número 6

  b.Insira o número 7 na 3ª posição da lista

  c.Remova o elemento 3 da listad.Adicione o número 4
  
  e.Verifique o número de ocorrências do número 4 na lista

In [4]:
list_1 = list(range(9))
list_1.append(6)
list_1.insert(3,7)
list_1.pop(3)
list_1.append(4)
print('num of 4', list_1.count(4))

print(list_1)

num of 4 2
[0, 1, 2, 3, 4, 5, 6, 7, 8, 6, 4]

5.Ainda com a lista criada na questão anterior, faça:

a.Retorne os primeiros 3 elementos da lista

b.Retorne os elementos que estão da 3ª posição até a 7ª posição da lista

c.Retorne os elementos da lista de 3 em 3 elementos

d.Retorne os 3 últimos elementos da lista

e.Retorne todos os elementos menos os 4 últimos da lista

In [5]:
print(list_1[:3])
print(list_1[2:6])
print(list_1[: : 3])
print(list_1[-3:])
print(list_1[:-4])

list_1 = list(range(9))
print(list_1)

[0, 1, 2]
[2, 3, 4, 5]
[0, 3, 6, 6]
[8, 6, 4]
[0, 1, 2, 3, 4, 5, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8]

6.Com a lista das questões anteriores, retorne o 6º elemento da lista.

7.Altere o valor do 7º elemento da lista para o valor 12

8.Inverta a ordem dos elementos na lista.

In [6]:
list_1.index(6)
list_1[6] = 12
list_1.reverse()
print(list_1)

[8, 7, 12, 5, 4, 3, 2, 1, 0]

9.Ordene a lista.

In [7]:
list_1.sort()
print(list_1)

[0, 1, 2, 3, 4, 5, 7, 8, 12]

10.Crie uma tuplacom números de 0 a 9 (em qualquer ordem) e tente:

a.Alterar o valor do 3º elemento da tupla para o valor 10

b.Verificar o índice (posição) do valor 5 na tupla

In [8]:
tuple_1 = tuple(range(9))
print(tuple_1[3])
print(tuple_1.index(5))
print(tuple_1)

3
5
(0, 1, 2, 3, 4, 5, 6, 7, 8)

In [9]:
tuple_1[3] = 10

TypeError: 'tuple' object does not support item assignment

11.Crie um dicionário com 5 entradas e suas respectivas chaves e valores. Faça:

a.Imprima todas as chaves do dicionáriob.Imprima todos os valores do dicionário

c.Imprima todos os itens do dicionário

d.Imprima o 2º item do dicionárioe.Imprima o dicionário completo

f.Percorra o dicionário, imprimindo para cada entrada o modelo “(chave) tem como valor (valor)”

In [44]:
world = {"afghanistan": 30, "albania": 2, "algeria": 39, "brazil": 55, 'italy': 66}
print(world)
print(world.keys())
print(world.values())
print(list(world.keys())[1])
print(world)
print('--------')

print(world.keys(), "tem como valor ", world.values())
print('--------')
for i in world:
  print(world.keys(), "tem como valor ", world.values())

{'afghanistan': 30, 'albania': 2, 'algeria': 39, 'brazil': 55, 'italy': 66}
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy'])
dict_values([30, 2, 39, 55, 66])
albania
{'afghanistan': 30, 'albania': 2, 'algeria': 39, 'brazil': 55, 'italy': 66}
--------
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy']) tem como valor  dict_values([30, 2, 39, 55, 66])
--------
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy']) tem como valor  dict_values([30, 2, 39, 55, 66])
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy']) tem como valor  dict_values([30, 2, 39, 55, 66])
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy']) tem como valor  dict_values([30, 2, 39, 55, 66])
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy']) tem como valor  dict_values([30, 2, 39, 55, 66])
dict_keys(['afghanistan', 'albania', 'algeria', 'brazil', 'italy']) tem como valor  dict_values([30, 2, 39, 55, 66])

12.Crie um arquivo e:

a.Escreva nele os números de 1 a 10

b.Depois de escrito, imprima na tela todos os números do arquivo

c.Escreva no arquivo os números de 11 a 20, substituindo os números que estavam antes no arquivo

d.Escreva no arquivo os números de 21 a 30, adicionando os números no final do arquivo (sem apagar o que já estavam lá)
e.Imprima na tela todos os números do arquivo novamente (de 11 a 30)

f.Imprima  na  tela  todos  os  números  do  arquivo  novamente,  mas  agora linha por linha

In [42]:
infile = open('result_qbdata.txt', 'r')
outfile = open('result_qbdata.txt', 'w')

for i in range(1, 11):
  outfile.write(str(i)+'\n')

print(infile.read())


#for i in range(11, 21):
#  outfile.write(str(i))

#print('-:',infile.read())

1
2
3
4
5
6
7
8
9
10

In [2]:

infile = open('result_qbdata.txt', 'r')
outfile = open('result_qbdata.txt', 'w')

for i in range(11, 21):
  outfile.write(str(i)+'\n')

print(infile.read())

11
12
13
14
15
16
17
18
19
20

In [63]:
infile = open('result_qbdata.txt', 'r')
outfile = open('result_qbdata.txt', 'a')

for i in range(21, 31):
  outfile.write(str(i)+'\n')

#print(len(infile.read()))

print(infile.read())

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [72]:
infile = open('result_qbdata.txt', 'r')
print(infile.read()[:])

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30

In [77]:
infile = open('result_qbdata.txt', 'r')

print(infile.read())

11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30